
.container-fluid{
  background-color: #F7F8FC;
}

p {
  font-family: 'Mulish', sans-serif;
}

ul li {
  font-family: 'Mulish', sans-serif;
}

td {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}